
@{
    ViewBag.Title = "View";
}

<h2>Account</h2>
<br />
<p >Welcome @User.Identity.Name</p>
<p>User access level: </p>
<p>User is Authenticated: @User.Identity.IsAuthenticated</p>
<p>User authentication type: @User.Identity.AuthenticationType</p> 
